{% extends "app/layout.html" %}
{%load static%}

{% block content %}

<div style="background-color: rgba(0, 0, 0, 0.5) !important" class="jumbotron">

    <h1 style="color:rgb(255,0,255)">O nas</h1>

    <p style="color:rgb(255,255,255)" class="lead">
    
        Zapraszamy Państwa do Sushi Strefy na niezwykłą ucztę, w której biorą udział wszystkie zmysły, a przygotowywanie sushi jest rytuałem.
    
    </p>

    <p style="color:rgb(255,255,255)" class="lead">
    
        W japońskiej kuchni każdy detal ma ogromne znaczenie dla smaku, zapachu i wyglądu.
        Dlatego stworzyliśmy miejsce, w którym będziecie Państwo mogli delektować się smakami i aromatami, niespiesznie smakując kolejne kęsy.

    </p>

    <p style="color:rgb(255,255,255)" class="lead">

        Nasi sushi masterzy dokładają starań, aby zaspokoić najbardziej wyrafinowane gusta gości. 

    </p> 

    <p style="color:rgb(255,255,255)" class="lead">

        Kto raz odwiedzi naszą restaurację, rozsmakuje się w sushi na zawsze. Przyjdź, skosztuj i zakochaj się w tych smakach.

    </p>

    <p style="color:rgb(255,255,255)" class="lead">

        Czy wiesz że?

    </p>

    <ul>
        <li class="lead" style="color:rgb(255,255,255)">

             Nasze sushi przygotowane jest tylko w chwili zamówienia,
             dlatego jest takie świeże i ma niepowtarzalny smak

        </li>
        <li class="lead" style="color:rgb(255,255,255)">
        Do sushi używa się ryżu o krótkich ziarnach – słodkiej odmiany, różniącej się konsystencją od ryżu o długich ziarnach, do którego jesteśmy przyzwyczajeni.
        </li>
        <li class="lead" style="color:rgb(255,255,255)">
        Marynowany imbir ma oczyścić nasze kubki smakowe, w myśl tradycyjnych zasad, każdy kawałek sushi powinni być nowym doznaniem smakowym.
        </li>
    </ul>

</div>

{% endblock %}

