{% extends "app/layout.html" %}
{%load static%}

{% block content %}

<div style="background-color: rgba(0, 0, 0, 0.5) !important" class="jumbotron">

    <img src="{% static  'images/mapa_strefy.jpeg' %}" alt="LogoSushiStrefa" class="img-thumbnail">
    <p></p>
    <p style ="color:rgb(255,255,255)">Od kwoty podanej poniżej, w zależności od strefy dostaw, zapewniamy darmową dostawę: </p>
    <ul>
        <li style ="color:rgb(204,242,195)">50 zł</li>
        <li style ="color:rgb(244,218,195)">99 zł</li>
        <li style ="color:rgb(245,202,195)">160 zł</li>
    </ul>

</div>

{% endblock %}

