{% extends "app/layout.html" %}
{%load static%}

{% block content %}

<div style="background-color: rgba(0, 0, 0, 0.5) !important" class="jumbotron">

    <img src="{% static  'images/LogoSushiStrefa.jpeg' %}" alt="LogoSushiStrefa" class="img-thumbnail">

    <p></p>

    <p style="color:rgb(255,255,255)" class="text-center"> Zapraszamy Państwa do Sushi Strefy na niezwykłą ucztę, w której biorą udział wszystkie zmysły, a przygotowywanie sushi jest rytuałem. </p>

</div>

{% endblock %}
